@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/helvetica-neu.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "La Belle Aurore";
  src: url("./assets/fonts/LaBelleAurore.woff2") format("woff2"),
    url("./assets/fonts/LaBelleAurore.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* # General */

body {
  font-family: "Helvetica Neue", sans-serif !important;
  color: #444444;
}

a {
  /* color: #14c871; */
  text-decoration: none;
}

a:hover {
  color: #206bfb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 20px;
  bottom: 20px;
  z-index: 996;
  /* background: #16df7e; */
  width: 60px;
  height: 60px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top:hover {
  /* background: #33eb92; */
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  /* background: #262864ff; */

  background-color: rgb(241, 241, 251);

  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  box-shadow: 0px 1px 1px rgb(254, 254, 254);
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px #7D84FA;
  padding: 12px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#header .logo a {
  color: #5f687b;
}

#header .logo img {
  max-height: 45px;
}

@media (max-width: 991px) {
  #header {
    padding: 12px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Helvetica Neue", "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;

  color: #111;
  /* color: #ffffff; */
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

/* .navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #16df7e;
} */

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 10px 25px;
  margin-left: 30px;
  border-radius: 4px;
  line-height: 1;
  color: #fff;
  /* background: linear-gradient(90deg, #7F82FF 0%, #79FFBA 100%); */
  background: linear-gradient(90deg, #7F82FF 0%, #6f9dce 100%);
  /* background: rgb(127, 130, 255); */
  /* background: #16df7e; */
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #cdd1d9;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: #206bfb;
  color: #ffffff;
  border-color: #ffffff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #206bfb;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(73, 80, 94, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #5f687b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: rgb(127, 130, 255);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  padding: 10px 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: rgb(127, 130, 255);
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: rgb(241, 241, 251);
  /* background: #262864ff; */
  padding-top: 55px;
}

#hero h1 {
  margin: 0;
  font-size: 68px;
  font-weight: 700;
  line-height: 76px;
  color: #3e4450;
}

#hero h2 {
  /* color: #858ea1; */
  color: #7f82ff;
  margin: 10px 0 30px 0;
  font-size: 24px;
}
#hero img{
  width: 115%;
}
#hero .btn-get-started {
  font-family: "Helvetica Neue", "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;

  /* background: rgb(127, 130, 255); */
  background: linear-gradient(90deg, #7F82FF 0%, #6f9dce 100%);
  /* background: #16df7e; */
  /* box-shadow: 0 8px 28px rgba(22, 223, 126, 0.45); */
  box-shadow: 0 8px 28px;
}

#hero .btn-get-started:hover {
  background: #206bfb;
  box-shadow: 0 8px 28px rgba(32, 107, 251, 0.45);
}

#hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  transition: 0.5s;
  margin-left: 25px;
  color: #5f687b;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#hero .btn-watch-video i {
  color: #949cac;
  font-size: 32px;
  line-height: 0;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: rgb(127, 130, 255);
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #hero {
    height: auto;
    padding-top: 50px;
    padding-bottom: 5px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    margin-top: 40px!important;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 100%;
  }

  #hero h1 {
    /* justify-content: center;
    align-items: center!important;
    margin: auto; */
    margin-top: 0!important;
  }

  #hero h2 {
    justify-content: center;
    align-items: center!important;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 60px!important;
    /* margin-left: 0;
    padding: 0; */
    margin-left: -6px;
  }

  #hero .btn-get-started {
    
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px 8px 20px;
    /* margin: auto; */
  }
}


@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f9f9fa;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #5f687b;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #f0f1f3;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-title span {
    font-size: 32px;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

/* .about .contact {
  background: rgb(189,176,207);
} */

.colorabout {
  background: rgb(205, 193, 221);
}

.colorabout p {
  color: white;
}
.about .content h4 {
  font-weight: 500;
  font-size: 24px;
  color: #5f687b;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: rgb(127, 130, 255);
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-top: 0;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  color: rgb(127, 130, 255);
  font-weight: 700;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Helvetica Neue", "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  border: 1px solid #fff;
  padding: 50px 20px;
  transition: all ease-in-out 0.3s;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
}

.services .icon-box .icon {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.services .icon-box .icon i {
  /* color: rgb(127,130,255); */
  color: #111;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a,
p {
  /* color: #5f687b; */
  color: #111;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/* .services .icon-box:hover {
 
  background: rgb(127,130,255);
}

.services .icon-box:hover h4 a {
  color: #fff;
}
.services .icon-box:hover p {
  color: #fff;
}
.services .icon-box:hover .icon i  {
  color: #fff;
} */

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid #fff;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #e4e6ea;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: white;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid rgb(127, 130, 255);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(127, 130, 255);
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  /* background: #262864ff; */
  /* background: rgb(189,176,207); */
  /* background: #CBFDFE; */
  background: #f1f1fb;
  background-size: cover;
  padding: 60px;
  margin: 70px;
  border-radius: 10px;
}

.cta h3 {
  /* color: #fff; */
  color: #111;
  font-size: 28px;
  font-weight: 700;
}

@media (max-width: 575px) {

  .cta{
    padding: 60px;
    margin: 40px;
  }
  .cta h3 {
    /* color: #fff; */
    color: #111;
    font-size: 24px;
    font-weight: 700;
  }
  .cta-btn{
    font-size: 18px;
    padding: 4px 10px!important;
  }
}


.cta p {
  /* color: #fff; */
  color: #111;
}

.cta .cta-btn {
  font-family: "Helvetica Neue", "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 10px;
  /* border: 2px solid #16df7e; */
  border: 2px solid rgb(127, 130, 255);

  color: #fff;
  /* background: #16df7e; */
  /* background: rgb(127, 130, 255); */
  background: linear-gradient(90deg, #7F82FF 0%, #6f9dce 100%);
}

.cta .cta-btn:hover {
  background: #206bfb;
  border-color: #fff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid rgb(127, 130, 255);
  border-bottom: 3px solid rgb(127, 130, 255);
  padding: 30px;
  width: 100%;
  background-color: #f9f9fa;
}

.contact .info i {
  font-size: 20px;
  color: rgb(127, 130, 255);
  float: left;
  width: 44px;
  height: 44px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #5f687b;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #949cac;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  /* background: #16df7e; */
  background: rgb(189, 176, 207);
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  /* background: #16df7e; */
  background: rgb(189, 176, 207);
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  /* border-top: 3px solid #16df7e;
  border-bottom: 3px solid #16df7e; */
  border-top: 3px solid rgb(189, 176, 207);
  border-bottom: 3px solid rgb(189, 176, 207);
  padding: 30px;
  background-color: #f9f9fa;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: rgb(127, 130, 255);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid rgb(127, 130, 255);
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: rgb(127, 130, 255);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  /* background: rgb(127, 130, 255); */
  background: linear-gradient(90deg, #7F82FF 0%, #6f9dce 100%);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #206bfb;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f9f9fa;
  min-height: 40px;
  margin-top: 82px;
}

.breadcrumbs h2 {
  font-size: 36px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #778196;
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }

  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  /* background-color: #f3f4f6; */
  background-color: rgb(241, 241, 251);
  color: #5f687b;
  font-size: 14px;
  position: relative;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 20px 0;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #5f687b;
  position: relative;
  font-family: "Helvetica Neue", "Poppins", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 0;
  padding: 0;
}

#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}

#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
  border: 1px solid #e4e6ea;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 2px 8px;
  width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  /* background: #16df7e; */
  /* background: rgb(127, 130, 255); */
  background: linear-gradient(90deg, #7F82FF 0%, #6f9dce 100%);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #206bfb;
}

#footer .footer-top .social-links {
  margin-top: 30px;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #eaecef;
  color: #5f687b;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  /* background: #16df7e; */
  /* background: rgb(127,130,255); */
  /* background: rgb(189,176,207); */
  background: #4875fd;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  border-top: 1px solid #d9dce2;
  /* z-index: 2; */
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

@media (max-width: 992px) {
  #footer .copyright,
  #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
  }
}

#demovideo {
  text-align: center;
}

.services .offerbox {
  text-align: center;
  border: 1px solid #fff;
  padding: 20px;
  margin: 0;
  transition: all ease-in-out 0.3s;
  height: 400px;
}

.services .offerbox h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .offerbox h4 a,
p {
  /* color: #5f687b; */
  color: #111;
  transition: ease-in-out 0.3s;
}

.services .offerbox p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.offeringimg {
  width: 250px;
  height: 200px;
}

/* .row .outline{
  border: #14c871;
  border-radius: 10px;
} */

.row.pt__2.outline {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  padding: 20px;
  background-color: #fff; /* Optional: to ensure the box shadow is visible */
}

.services .offerbox:hover {
  /* background: rgb(127,130,255); */
  /* background: rgb(189,176,207); */
  /* background: #CBFDFE; */
  background: #f1f1fb;
}

.services .offerbox:hover h4 {
  /* color: #fff; */
  color: #111;
}
.services .offerbox:hover p {
  /* color: #fff; */
  color: #111;
}
.services .offerbox:hover .icon i {
  /* color: #fff; */
  color: #111;
}

/* .democss{
  text-align: center;
  display: block;
  justify-content: center;
} */

#demoform {
  display: none;
}

.faqs {
  /* background-color: rgb(223, 223, 227); */
  padding: 10px 20px;
  border-radius: 10px;
  /* background: rgb(189,176,207); */
  /* background: #FFD9DA; */
  /* background: #FFE9FF; */
  /* background: #EDEEFF; */
  font-size: medium;
}

.faqs .card-header {
  /* background: rgb(44,46,58); */
  /* background: rgb(5,10,68); */
  /* background: #679CB9; */
  /* background: #7f82ff; */
  background: linear-gradient(90deg, #7F82FF 0%, #6f9dce 100%);
  /* color: #fff; */
  border: none;
}
.faqs .card-header h3 {
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.faqs .card {
  /* text-align: center; */
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: none;
}

@media (max-width: 768px) {
  .faqs .card {
    width: 80%;
  }
}
.faqs .card-body {
  font-size: 14px;
}

.imgcontact {
  padding-left: 200px;
}

@media (max-width: 768px) {
  .imgcontact {
    display: none;
  }
}

.price-page {
  font-family: "Helvetica Neue", "Raleway", sans-serif !important;
}

@media (max-width: 768px) {
  #demo {
    padding: 10px 15px;
  }
  #joinus {
    padding: 10px;
    font-size: small;
  }

  .cta-btn {
    margin: 0;
    padding: 0;
  }

  .iimbnse {
    margin-top: 40px;
  }

  .incusliderbg {
    margin-left: 0px;
    margin-right: auto;
    padding-left: 60px;
  }

  .funda {
    font-weight: 600 !important;
  }
}

#demo-btn {
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  background: rgb(127, 130, 255);
}


.custom-swal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.custom-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contact .cont-form {
  width: 100%;
  /* border-top: 3px solid #16df7e;
  border-bottom: 3px solid #16df7e; */
  border-top: 3px solid rgb(189, 176, 207);
  border-bottom: 3px solid rgb(189, 176, 207);
  padding: 30px;
  background-color: #f9f9fa;
}

.contact .cont-form .form-group {
  padding-bottom: 8px;
}

.contact .cont-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .cont-form .error-message br + br {
  margin-top: 25px;
}

.contact .cont-form .sent-message {
  display: none;
  color: #fff;
  background: rgb(127, 130, 255);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .cont-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .cont-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid rgb(127, 130, 255);
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .cont-form input,
.contact .cont-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .cont-form input:focus,
.contact .cont-form textarea:focus {
  border-color: rgb(127, 130, 255);
}

.contact .cont-form input {
  height: 44px;
}

.contact .cont-form textarea {
  padding: 10px 12px;
}

.contact .cont-form button[type="submit"] {
  /* background: rgb(127, 130, 255); */
  background: linear-gradient(90deg, #7F82FF 0%, #6f9dce 100%);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .cont-form button[type="submit"]:hover {
  background: #206bfb;
}

.form-group label {
  text-align: left;
  display: block;
}

.swal2-close {
  border: none !important; /* Remove border */
}

.heroimgg {
  margin-right: 0;
  background-size: cover !important;
  width: 450px;
}

/* sdg goals */

@media (max-width: 768px) {
  .newabout img {
    width: 100%; /* Set image width to 90% */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove default inline styles */
    margin: 0 auto; /* Center the image within the container */
    padding: 0; /* Remove any padding */
  }
  .newabout {
    margin: 0 auto; /* Center the container */
    padding: 0; /* Remove any padding */
    text-align: center; /* Center text */
    width: 70%; /* Make sure the container is full width */
  }
}


.sdg-goals {
  padding: 40px 0;
  background-color: #f9f9f9;
}

.sdg-goals .section-title {
  text-align: center;
  margin-bottom: 40px;
}

.sdg-box {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(0.8) rotate(0deg);
  opacity: 0;
  transition: transform 0.3s ease;
}

.sdg-box:hover {
  transform: scale(1.05);
}

.sdg-icon {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.sdg-box h4 {
  font-size: 18px;
  font-weight: 700;
}

/* incubators  */

.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  /* width: calc(150px + 75px + 200px + 200px + 200px + 100px); */
  height: 200px;
  animation: scroll 20s infinite linear;
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slide {
  /* height: 200px;
  width: 250px; */
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
  margin: 100px;
}

.slide img {
  width: 100%;
  transition: transform 1s;
}

.slide img:hover {
  transform: translateZ(20px);
}

/* sdg goals */
.card-img {
  width: 170px;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.sddg{
  margin: 40px!important;
}

.offeri {
  border-radius: 49px;
}

/*  */
/* 
.teams-layout{
  margin-top: 340px;
  padding-top: 140px;
  
} */

.home-container {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  /* background-color: #0c52a1; */
}
.profile-card {
  position: relative;
  width: 220px;
  height: 220px;
  background-color: #7f82ff;
  padding: 20px;
  border-radius: 50%;
  box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
  transition: all 0.4s;
  margin: 30px;
}
.profile-card:hover {
  border-radius: 10px;
  height: 260px;
}

.profile-card:hover {
  transform: scale(1.1);
}

.profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
}
.profile-card:hover img {
  border-radius: 10px;
  transform: translateY(-70px);
}
.img img {
  object-fit: fill;
  width: 100%;
  border-radius: 50%;
  transition: all 0.4s;
  z-index: 99;
}
.caption {
  text-align: center;
  transform: translateY(-90px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}
.profile-card:hover .caption {
  opacity: 1;
  pointer-events: all;
}
.caption h3 {
  font-size: 21px;
  color: #fff;
  font-weight: 600;
}
.caption p {
  font-size: 15px;
  font-weight: 500;
  margin: 2px 0 12px 0;
}
.caption .social-links i {
  font-size: 21px;
  margin: 0 3px;
  cursor: pointer;
  color: #333;
  transition: all 0.4s;
}
.caption .social-links i:hover {
  color: #0c52a1;
}

/* sliderr */

.sliderr {
  background-color: white;
  height: 60px;
  width: 98%;
  position: relative;
  margin: auto;
  margin-top: 40px;
  /* margin-bottom: 460px; */
  /* left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
  border-radius: 5px;
  padding: 0 10px;
  box-shadow: 0 0 25px 10px #F1F1FB;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tooltip {
  position: relative;
  left: 100%;
  width: 100px;
  /* top: -30px; */
  background-color: #000;
  color: #d02020;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transform: translateX(-50%);
}

input[type="range"]{
  width: 85%;
  height: 3.5px;
  -webkit-appearance: none;
  /* background-color: #dcdcdc; */
  background-color: #F1F1FB;
  border-radius: 3px;
  outline: none;
  margin-left: 10%;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #7F82FF;
  cursor: pointer;
  border-radius: 50%;
}
input[type="range"]:active::-webkit-slider-thumb{
  background-color:white;
  border: 5px solid #7F82FF; 
}

.values-pricing{
  width: 10%;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.wrapper{
  height: 100%;
  width: 100%;
  position: relative;
  transition: 0.3s;
}

.values-pricing span{
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
}

.slider-points {
  position: absolute;
  top: 43%;
  left: 11.5%;
  right: 11%;
  height: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-point {
  width: 8px;
  height: 8px;
  /* background-color: #7F82FF; */
  background: linear-gradient(90deg, #7F82FF 0%, #6f9dce 100%);
  border-radius: 50%;
}

.wrapper span{
  font-weight: 800;
  display: none;
}

.slider-value {
  position: absolute;
  /* top: 60px; */
  bottom: 50px;
  left: 50%;
  margin-left: 90px;
  border-radius: 10px;
  /* right: 10%; */
  transform: translateX(-50%);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  /* background-color: #DDDDF5; */
  /* background-color: #7F82FF; */
  background: linear-gradient(90deg, #7F82FF 0%, #6f9dce 100%);
  color: white;
  padding: 10px;
  z-index: 100;
  width: 130px;
  /* width: auto; */
}

@media (max-width: 1258px) {
  .sliderr {
    display: none;
  }
}


/* teams */

.wrapper .title{
  text-align: center;
  margin-top: 110px;
}

.title h4{
  display: inline-block;
  padding: 20px;
  color: #585757;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1.2px;
  word-spacing: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  text-transform: uppercase;
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.wrapper .card_Container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.card_Container .card{
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
              inset 0 0 0 1000px rgba(67, 52, 109, .6);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .imbBx, .imbBx img{
  width: 100%;
  height: 100%;
}

.card .content{
  position: absolute;
  bottom: -160px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(15px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  transition: bottom 0.5s;
  transition-delay: 0.65s;
}

.card:hover .content{
  bottom: 0;
  transition-delay: 0s;
}

.content .contentBx h3{
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: 0.5s;
  transition-delay: 0.6s;
  opacity: 0;
  transform: translateY(-20px);
}

.card:hover .content .contentBx h3{
  opacity: 1;
  transform: translateY(0);
}

.content .contentBx h3 span{
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.content .contentBx  h6{
  font-size: 15px;
  font-weight: 300;
  text-transform: initial;
  text-align: center;
  /* margin: 0 auto; */
  color: white;

}

.card:hover .content .contentBx h3 span{
  opacity: 1;
  transform: translateY(0);
}

.content .sci{
  position: relative;
  bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  /*  */

  display: none;
  /*  */
}

.content .sci li{
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.2s * var(--i));
  align-items: center;
}

.card:hover .content .sci li{
  transform: translateY(0);
  opacity: 1;
}

.content .sci li a{
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center; /* Ensure icons are vertically centered */
  justify-content: center; /* Ensure icons are horizontally centered */
}


/* hero section */

/* .animated-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.animated-list li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.6;
  opacity: 0;
  animation: fadeInRight 1s forwards;
}

.animated-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #007bff;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} */


.card-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
  width: 240px;
}

.card-item {
  background: #a4a5f7;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  animation: fadeInRight 1s forwards;
}

.card-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInRight {
  from {
      opacity: 0;
      transform: translateX(-20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

/* 
.pricehover:hover{
  box-shadow: 0 16px 32px #788DEA;
  border-radius: 20px;
  border: 3px solid #7780cd; 
} */

.slidering{
  box-shadow: 0 16px 32px #788DEA;
  border-radius: 20px;
  border: 3px solid #7780cd; /* Increase border width */ 
}

@media (max-width: 575px) {
  .slidering{
    border: 1px solid #fff; /* Increase border width */
    box-shadow: none !important;
    border: none!important;
  }
}




/* product features */
/* product features */
/* product features */
.feature_wrapper {
    display: flex;
    overflow-x: auto;
    text-align: center;
    padding: 20px;
    margin: 0;
    height: auto;
    white-space: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.feature_wrapper::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}

.feature_wrapper .feature_item {
    min-width: 400px;
    margin: 20px;
    padding: 0;
    border: 1px solid #111;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Adding box-shadow */
    border-radius: 8px; /* Optional: Adding rounded corners */
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between elements */
    height: 350px; /* Set a specific height to ensure visibility */
}

.feature-item-div {
    flex-grow: 1; /* Allow this div to grow and fill available space */
    background-size: cover;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (max-width: 575px) {
    .feature_wrapper .feature_item {
        min-width: 330px;
    }
}

.feature_wrapper .feature_item h4 {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    padding: 10px;
    z-index: 2;
}

.shadowed-text {
    font-weight: 700;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #000;
    opacity: 1!important;
}

.feature_wrapper .feature_item h4 a,
p {
    transition: ease-in-out 0.3s;
}

.feature_wrapper .feature_item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}

.offeringimg {
    width: 250px;
    height: 200px;
}

.feature-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scroll-button {
    background-color: #7E84FB;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.scroll-button:hover {
    background-color: #206bfb;
}

@media (max-width: 768px) {
    .scroll-button {
        padding: 8px 16px;
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .scroll-button {
        padding: 6px 12px;
        font-size: 14px;
    }
}


/* join us and demo  */

.partner-btn {
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  text-decoration: none;
  /* background: rgb(127, 130, 255); */
  background: linear-gradient(90deg, #7F82FF 0%, #6f9dce 100%);

  a{
    color: white;
  }
}

.bttn{
  background: #f1f1fb;
  padding: 20px;
  margin: 0;
  /* height: 150px; */
  border-radius: 10px;
  border: none;
}

.bttn h3{
  color: #111;
  font-size: 28px;
  font-weight: 700;  
}

.bttn p{
  color: #111;
}

/* hero footer */

.hero-footer{
  display: flex;
  margin-top: 60px;
}

.hero-footer div{
  margin: auto;

  img{
    width: 60px;
    margin-left: 50px;
  }

  span{
    /* background-color: #000;
    width: 10px; */
  }
}

@media (max-width: 575px) {
  .hero-footer div{
    margin: auto;
  
    img{
      width: 30px;
      margin-left: 30px;
    }

    span{
      font-size: 14px;
      align-items: center!important;

    }
  
  }
}




/* .text-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
} */

/* .text-wrap::before,
.text-wrap::after {
  content: ' ';
} */

/* .text-wrap span {
  display: block;
} */

/* pricing prices */

.priceanchor{
  text-decoration: none;
  color: #000;
}

.priceanchor:hover{
  text-decoration: none;
  color: #000;
}

.rupee{
  font-size: 30px;
  margin-right: 0;
}


/* hero page */

.gradient-text {
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(90deg, #7F82FF, #63d3f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* book demo  */

.bookdemoo h1{
  text-align: center;
}

/* privacy-tnc-footer */

.privacy-tnc-footer{
  margin-top: 20px;
  text-decoration: none;
  
  
  a{
    color: gray;
    margin: 30px 20px;
    font-weight: 600;
  }
}


.car-img {
  /* width: 500px; */
  width: 60%;
  /* height: 50%; */
  margin: 0px auto;
  /* height: 80vh; */
  color: #000;
}


.carousel-control-prev,
.carousel-control-next {
  filter: invert(1); /* This inverts the colors of the icons, making white appear black. Remove if you use custom icons */
}

.car-item{
  /* background-color: #F1F1FB; */
  /* height: 550px; */
  border-radius: 20px;

  h5{
    color: #000;
    font-weight: 800;

  }
  
  ul{
    color: #000;
  }
}

.headad{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

.car-par{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

@media (max-width: 768px) {
  .car-img {
    width: 90%;
    margin: 20px auto;
    /* height: 80vh; */
    color: #000;
  }

  .carousel{
    padding: 0;
    margin: 30px 10px;
  }

  .car-item{
    /* background-color: #F1F1FB; */
    border-radius: 20px;
    height: 500px;
  
    h5{
      color: #000;
      font-weight: 800;
  
    }
    
    ul{
      color: #000;
    }
    p{
      color: #000!important;
    }
  }
}